@CHARSET "UTF-8";

#highlightedPost {
	border: solid;
	position: fixed;
	left: 40px;
	right: 40px;
	top: 30px;
	bottom: 30px;
	background: white;
	z-index: 101;
	border-radius: 10px;
	padding: 20px

}

.button, .button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button {
	white-space: nowrap;
	line-height: 1em;
	position: relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999; /* IE */
	border: rgba(0, 0, 0, .2) 1px solid; /* Saf4+, Chrome, FF3.6 */
	border-bottom: rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .1) 100%); /* FF3.6 */
	background: -webkit-gradient(linear, center bottom, center top, from(rgba(0, 0, 0, .1)), to(rgba(255, 255, 255, .1))); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom: 10px;
}

.button.full, .button.full span {
	display: block;
}

.button:hover, .button.hover {
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .1) 100%); /* FF3.6 */
	background: -webkit-gradient(linear, center bottom, center top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .2))); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}

.button:active, .button.active {
	top: 1px;
}

.button span {
	position: relative;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding: 0.6em 1.3em;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
}

.button.small span {
	font-size: 12px;
}

.button.medium span {
	font-size: 14px;
}

.button.large span {
	font-size: 18px;
}

.button.black {
	background-color: #333333;
}

.button.gray {
	background-color: #666666;
}

.button.white {
	background-color: #FFFFFF;
}

.button.white span {
	color: #666666;
}

.button.red {
	background-color: #e62727;
}

.button.orange {
	background-color: #ff5c00;
}

.button.magenta {
	background-color: #A9014B;
}

.button.yellow {
	background-color: #ffb515;
}

.button.blue {
	background-color: #00ADEE;
}

.button.pink {
	background-color: #e22092;
}

.button.green {
	background-color: #91bd09;
}

.button.rosy {
	background-color: #F16C7C;
}

.button.brown {
	background-color: #804000;
}

.button.purple {
	background-color: #800080;
}

.button.cyan {
	background-color: #46C7C7;
}

.button.gold {
	background-color: #D4A017;
}

.tagButton {
	margin: 4px;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(top, #ffffff 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ffffff 5%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ffffff 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ffffff 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ffffff 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf', GradientType=0);
	background-color: #ffffff;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #c4bebc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.tagButton:hover {

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ffffff));
	background: -moz-linear-gradient(top, #dfdfdf 5%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 5%, #ffffff 100%);
	background: -o-linear-gradient(top, #dfdfdf 5%, #ffffff 100%);
	background: -ms-linear-gradient(top, #dfdfdf 5%, #ffffff 100%);
	background: linear-gradient(to bottom, #dfdfdf 5%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ffffff', GradientType=0);
	background-color: #dfdfdf;
	cursor: pointer;
}

.tagButton:active {
	position: relative;
	top: 1px;
}

.popup {
	border: solid;
	position: absolute;
	width: 500px;
	height: 400px;
	background-color: rgba(177, 198, 202, 0.98);
	left: 50%;
	top: -500px;
	z-index: 10;
	border-radius: 10px;
	margin-left: -250px;
	margin-top: -200px;
	z-index: 101;
}

.popup > .boxclose {
	margin-top: -15px !important;
	margin-right: -15px !important
}

.tags-title {
	display: inline-block;
	margin-right: 5px;
}

pre {
	margin-left: 10% !important;
	margin-right: 10% !important;
}

#blog_nav > p {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	background: lightgrey;
}

.boxclose {
	float: right;
	margin-top: -25px;
	margin-right: -25px;
	cursor: pointer;
	color: #fff;
	border: 1px solid #AEAEAE;
	border-radius: 30px;
	background: #605F61;
	font-size: 31px;
	font-weight: bold;
	display: none;
	line-height: 0px;
	padding: 11px 3px;
}

.boxclose:before {
	content: "×";
}

.post {
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	padding: 10px;
	margin: 20px;
	cursor: pointer;
	background: rgba(188, 188, 188, 0.99);
}

.postBody {
	padding-top: 20px;
	display: none;
}

.postBody h2 {
	margin: 0px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 30px;
	font-weight: bold;
}

.postBody p {
	margin-top: 0px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 20px;
}

.post-header>h1 {
	display: inline-block;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 10px;
	line-height: 50px;
	font-size: 50px;
	position: absolute;
	white-space: nowrap;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.post-date {
	text-align: center;
	display: inline-block;
	margin: auto;
	width: 75px;
	background-color: #7f7f7f;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: 2px;
	user-select: none;
}

.post-date p {
	color: white;
	font-size: 25px;
	font-family: "Brush Script MT", cursive;
}

.post-date p:nth-of-type(1) {
	margin-bottom: 0px;
	margin-top: auto;
}

.post-date p:nth-of-type(2) {
	margin-top: 0px;
	margin-bottom: auto;
}

.post-header {
	height: 75px;
}
