# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:TnTItw
RewriteEngine on
RewriteCond %{HTTP_HOST} ^agartner.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.agartner.com$
RewriteRule ^$ http://profile.agartner.com/?ref=main [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE TnTItw:REDIRECTID

#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip
